
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_9b138b1f6c084620b30761ec96c12282 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_9b138b1f6c084620b30761ec96c12282" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_9b138b1f6c084620b30761ec96c12282 = L.map('map_9b138b1f6c084620b30761ec96c12282', {
                                           center:[40.39598782,-80.01903961],
                                           zoom: 3,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_c4079b47ce4841c3b08e7635d9eb03e7 = L.tileLayer(
                'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: '(c) <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors (c) <a href="http://cartodb.com/attributions">CartoDB</a>, CartoDB <a href ="http://cartodb.com/attributions">attributions</a>',
                    detectRetina: false
                    }
                ).addTo(map_9b138b1f6c084620b30761ec96c12282);

        
        
            
                var marker_cluster_117d894f5c4d41009115779439782f77 = L.markerClusterGroup();
                map_9b138b1f6c084620b30761ec96c12282.addLayer(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            

            var marker_ccdb895d0bfa4cb29fd309e7688fe477 = L.marker(
                [40.3543266,-79.9007057],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_848f0dc93bda4a95a1f69eac1b940600 = L.popup({maxWidth: '300'});

            
                var html_e2a21f62a6a644d9bb327246ec2234d7 = $('         <div id="html_e2a21f62a6a644d9bb327246ec2234d7"                 style="width: 100.0%; height: 100.0%;">                 Mr Hoagie,  4734 Lebanon Church Rd Dravosburg, PA 15034,  Rating = 3.5</div>                 ')[0];
                popup_848f0dc93bda4a95a1f69eac1b940600.setContent(html_e2a21f62a6a644d9bb327246ec2234d7);
            

            marker_ccdb895d0bfa4cb29fd309e7688fe477.bindPopup(popup_848f0dc93bda4a95a1f69eac1b940600);

            
        
        
            

            var marker_3de1abcfc026407fa6aa0ec45faee90c = L.marker(
                [40.4088301,-79.8662107],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_3c2bb92b5b0042989303d4a39af751b6 = L.popup({maxWidth: '300'});

            
                var html_4e68c3d1f31b4a46a2d4196c3df4e7a7 = $('         <div id="html_4e68c3d1f31b4a46a2d4196c3df4e7a7"                 style="width: 100.0%; height: 100.0%;">                 Emil&#39;s Lounge,  414 Hawkins Ave Braddock, PA 15104,  Rating = 4.5</div>                 ')[0];
                popup_3c2bb92b5b0042989303d4a39af751b6.setContent(html_4e68c3d1f31b4a46a2d4196c3df4e7a7);
            

            marker_3de1abcfc026407fa6aa0ec45faee90c.bindPopup(popup_3c2bb92b5b0042989303d4a39af751b6);

            
        
        
            

            var marker_140eacc8fa27451f89dde4fa589add9d = L.marker(
                [40.4034049,-79.8557821],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_05a6bae7a64f4c6cb1bf10a783be6c99 = L.popup({maxWidth: '300'});

            
                var html_28cc7c26bbaa450bba4859cea78a509c = $('         <div id="html_28cc7c26bbaa450bba4859cea78a509c"                 style="width: 100.0%; height: 100.0%;">                 Grand View Golf Club,  1000 Clubhouse Dr Braddock, PA 15104,  Rating = 5.0</div>                 ')[0];
                popup_05a6bae7a64f4c6cb1bf10a783be6c99.setContent(html_28cc7c26bbaa450bba4859cea78a509c);
            

            marker_140eacc8fa27451f89dde4fa589add9d.bindPopup(popup_05a6bae7a64f4c6cb1bf10a783be6c99);

            
        
        
            

            var marker_0015e2ca2968461db340326d6665c705 = L.marker(
                [40.4154859,-80.0675491],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_7ecefaea1a3046c598df354ae4cfcd2c = L.popup({maxWidth: '300'});

            
                var html_d69593fefce041239a9c8e594522dabd = $('         <div id="html_d69593fefce041239a9c8e594522dabd"                 style="width: 100.0%; height: 100.0%;">                 Alexion&#39;s Bar &amp; Grill,  141 Hawthorne St Greentree Carnegie, PA 15106,  Rating = 4.0</div>                 ')[0];
                popup_7ecefaea1a3046c598df354ae4cfcd2c.setContent(html_d69593fefce041239a9c8e594522dabd);
            

            marker_0015e2ca2968461db340326d6665c705.bindPopup(popup_7ecefaea1a3046c598df354ae4cfcd2c);

            
        
        
            

            var marker_8bcee455976342c0a412c66ff2ff6456 = L.marker(
                [40.4054039,-80.0762665],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_9f9637f71da7440b9131bcd972d4179a = L.popup({maxWidth: '300'});

            
                var html_88acd2463015411c90f7cfff843f402f = $('         <div id="html_88acd2463015411c90f7cfff843f402f"                 style="width: 100.0%; height: 100.0%;">                 Forsythe Miniature Golf &amp; Snacks,  920 Forsythe Rd Carnegie Carnegie, PA 15106,  Rating = 4.0</div>                 ')[0];
                popup_9f9637f71da7440b9131bcd972d4179a.setContent(html_88acd2463015411c90f7cfff843f402f);
            

            marker_8bcee455976342c0a412c66ff2ff6456.bindPopup(popup_9f9637f71da7440b9131bcd972d4179a);

            
        
        
            

            var marker_dbf3c8470cce4a16a8471b048d9ef8f2 = L.marker(
                [40.3922071,-80.0691338],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_759e7137ad9a4f5db6ca0ebfa863260d = L.popup({maxWidth: '300'});

            
                var html_fc16b7871c694c3ca60deba45da74507 = $('         <div id="html_fc16b7871c694c3ca60deba45da74507"                 style="width: 100.0%; height: 100.0%;">                 Greentree Animal Clinic,  2080 Greentree Rd Pittsburgh, PA 15220,  Rating = 4.0</div>                 ')[0];
                popup_759e7137ad9a4f5db6ca0ebfa863260d.setContent(html_fc16b7871c694c3ca60deba45da74507);
            

            marker_dbf3c8470cce4a16a8471b048d9ef8f2.bindPopup(popup_759e7137ad9a4f5db6ca0ebfa863260d);

            
        
        
            

            var marker_c09274ceb9ce43f5b780d5a152414c7e = L.marker(
                [40.4068423,-80.0858661],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_9b0d96880e324935ab601ca681fc4f13 = L.popup({maxWidth: '300'});

            
                var html_c97a59f849f54c7d95ce99a6952d9961 = $('         <div id="html_c97a59f849f54c7d95ce99a6952d9961"                 style="width: 100.0%; height: 100.0%;">                 Carnegie Free Library,  300 Beechwood Ave Carnegie Carnegie, PA 15106,  Rating = 4.5</div>                 ')[0];
                popup_9b0d96880e324935ab601ca681fc4f13.setContent(html_c97a59f849f54c7d95ce99a6952d9961);
            

            marker_c09274ceb9ce43f5b780d5a152414c7e.bindPopup(popup_9b0d96880e324935ab601ca681fc4f13);

            
        
        
            

            var marker_f3c1924f8e3d4ecfbbdd65915b8ce963 = L.marker(
                [40.3983526,-80.0824517],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_12157b7c1f734fe6a440d01449b44ee2 = L.popup({maxWidth: '300'});

            
                var html_82ccb02965594c3ba4a3418792b7aca8 = $('         <div id="html_82ccb02965594c3ba4a3418792b7aca8"                 style="width: 100.0%; height: 100.0%;">                 Advance Auto Parts,  1011 Washington Ave Carnegie, PA 15106,  Rating = 3.5</div>                 ')[0];
                popup_12157b7c1f734fe6a440d01449b44ee2.setContent(html_82ccb02965594c3ba4a3418792b7aca8);
            

            marker_f3c1924f8e3d4ecfbbdd65915b8ce963.bindPopup(popup_12157b7c1f734fe6a440d01449b44ee2);

            
        
        
            

            var marker_7bbe730ebacf4c3783b6e7765941e1c5 = L.marker(
                [40.3875124,-80.0932152],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_f1559c1e117d41e393867146e6ae2b50 = L.popup({maxWidth: '300'});

            
                var html_76b33e58ac974a9c95244fab9c809321 = $('         <div id="html_76b33e58ac974a9c95244fab9c809321"                 style="width: 100.0%; height: 100.0%;">                 Kings Family Restaurant,  2100 Washington Pike Carnegie, PA 15106,  Rating = 3.5</div>                 ')[0];
                popup_f1559c1e117d41e393867146e6ae2b50.setContent(html_76b33e58ac974a9c95244fab9c809321);
            

            marker_7bbe730ebacf4c3783b6e7765941e1c5.bindPopup(popup_f1559c1e117d41e393867146e6ae2b50);

            
        
        
            

            var marker_ec0dff2e4b604a0da67688e7f9799735 = L.marker(
                [40.3875124,-80.0932152],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(marker_cluster_117d894f5c4d41009115779439782f77);
            
        
            
            var popup_423fb192a8144b4584c1d660b86168ad = L.popup({maxWidth: '300'});

            
                var html_96a101eaec4945f097f1516a2d2baf27 = $('         <div id="html_96a101eaec4945f097f1516a2d2baf27"                 style="width: 100.0%; height: 100.0%;">                 Shop N&#39; Save,  2100 Washington Pike Carnegie, PA 15106,  Rating = 4.0</div>                 ')[0];
                popup_423fb192a8144b4584c1d660b86168ad.setContent(html_96a101eaec4945f097f1516a2d2baf27);
            

            marker_ec0dff2e4b604a0da67688e7f9799735.bindPopup(popup_423fb192a8144b4584c1d660b86168ad);

            
        
        
        
        </script>
        